---
import { supportEmail, siteTitle } from '../lib/site';
---

<footer class="site-footer">
  <div class="shell footer-inner">
    <p>{siteTitle}</p>
    <p>
      <a href={`mailto:${supportEmail}`}>{supportEmail}</a>
    </p>
  </div>
</footer>
